<div class="container2">
  <h1 id="titrepanel">CHANNELS</h1>
  <div class="quote-container">
      <a href="#" class="quote-button5">CONFIGURER</a>
      <div class="elements-panel5">
        <p>E.M.S</p>
        <select name="ems_channel" class="selectsalon">
          <% if(ems.channel) {
            if(emsChannelStatut) { %>
            <option value="<%= ems.channel %>">#<%= emsChannelStatut %></option>   
            <option value="0000">Aucun</option>   
            <% } else { %>
              <option value="0000">Sélectionner un salon</option>   
              <% } %>
              
            <% } else { %>
            <option value="0000">Sélectionner un salon</option>   

            <% } %>

          <% channelsText.forEach(function(channel) {
              if(channel.id === ems.channel) return;
             %>
            <option value="<%= channel.id %>">#<%= channel.name %></option>   
            <% 
          }) %>            
          </select>
          <p>L.S.P.D<p>
          <select name="lspd_channel" class="selectsalon">
            <% if(lspd.channel) {
              if(lspdChannelStatut) { %>
              <option value="<%= lspd.channel %>">#<%= lspdChannelStatut %></option>   
              <option value="0000">Aucun</option>   
              <% } else { %>
                <option value="0000">Sélectionner un salon</option>   
                <% } %>
                
              <% } else { %>
              <option value="0000">Sélectionner un salon</option>   
  
              <% } %>
  
            <% channelsText.forEach(function(channel) {
                if(channel.id === lspd.channel) return;
               %>
              <option value="<%= channel.id %>">#<%= channel.name %></option>   
              <% 
            }) %>            
            </select> 
  </div>
</div>
</section>