<section class="ligne2">
    <div class="container">
      <h1 id="titrepanel">
        <span><i class="fas fa-globe-americas"></i></span>
        <span class="premelem">CONFIGURATION GENERALE</span>
        </h1>
              <div class="quote-container">
          <a href="#" class="quote-button">CONFIGURER</a>
          <div class="elements-panel">
            <p>Prefix</p>
            <span class="tag is-warning">PREMIUM</span>
            <div ng-app="">
            <input name="prefix" id="counter-input" value="<%= settings.prefix %>" type="text" placeholder="Prefix" class="inputpre" maxlength="10">
            <div id="the-count">
              <span id="counter-display">0</span>
              <span id="maximum">/ 10</span>
            </div>
            </div>
            <script>
            (() => {
              const counter = (() => {
                const input = document.getElementById('counter-input'),
                  display = document.getElementById('counter-display'),
                  changeEvent = (evt) => display.innerHTML = evt.target.value.length,
                  getInput = () => input.value,
                  countEvent = () => input.addEventListener('keyup', changeEvent),
                  init = () => countEvent();

                return {
                  init: init
                }

              })();

              counter.init();

            })();
            </script>


            <p>Modrole (désactivé temporairement)</p>
            <select name="modrole" class="selectsalon" disabled>
              <% if(settings.modrole) {
                if(modrole) { %>
                <option value="<%= settings.modrole %>"><%= modrole %></option>   
                <option value="0000">Aucun</option>   
                <% } else { %>
                  <option value="0000">Sélectionner un rôle</option>   
                  <% } %>
                  
                <% } else { %>
                <option value="0000">Sélectionner un rôle</option>   

                <% } %>
              <% rolesList.forEach(function(role) { %>
              <option value="<%= role.id %>"><%= role.name %></option>   
              <% }) %>
            </select>
          </div>
      </div>
    </div>