
<section class="ligne3">
    <div class="container2">
      <h1 id="titrepanel">
        <span><i class="fas fa-laptop-code"></i></span>
        <span class="premelem">DARKNET</span>
        </h1>
          <div class="quote-container">
          <a href="#" class="quote-button2">CONFIGURER</a>
          <div class="elements-panel2">
            <p>Salon</p>
            <select name="darknet_channel" class="selectsalon">
              <% if(darknet.channel) {
                if(darknetChannelStatut) { %>
                <option value="<%= darknet.channel %>">#<%= darknetChannelStatut %></option>   
                <option value="0000">Aucun</option>   
                <% } else { %>
                  <option value="0000">Sélectionner un salon</option>   
                  <% } %>
                  
                <% } else { %>
                <option value="0000">Sélectionner un salon</option>   

                <% } %> 

              <% 
              channelsText.forEach(function(channel) {
                  if(channel.id === darknet.channel) return;
                 %>
                <option value="<%= channel.id %>">#<%= channel.name %></option>   
                <% 
              }) %>            
              </select>

            <% if(settings.premium === "yes") { %>
            <div class="containlogo">
            <img src="../public/img/premium.png" class="premlogoactive">
              <p class="premelem">Titre</p>
          </div>
            <input name="darknet_title" id="counter-input-title" value="<%= darknet.title %>" class="inputtext" type="text" maxlength="256">
            <div id="the-count">
              <span id="counter-display-title">0</span>
              <span id="maximum">/ 256</span>
            </div>
            <% } else { %>
              <div class="containlogo">
                <img src="../public/img/nonprem.png" class="premlogoactive">
                  <p class="premelem">Titre</p>
              </div>
            <input name="darknet_title" value="<%= darknet.title %>" class="inputtext" type="text" disabled>
            <% } %>
            

            
            <% if(settings.premium === "yes") { %>
              <div class="containlogo">
                <img src="../public/img/premium.png" class="premlogoactive">
                  <p class="premelem">Auteur</p>
              </div>
            <input name="darknet_author" maxlength="256" id="counter-input-author" value="<%= darknet.author %>" class="inputtext" type="text">
            <div id="the-count">
              <span id="counter-display-author">0</span>
              <span id="maximum">/ 256</span>
            </div>
            <% } else { %>
              <div class="containlogo">
                <img src="../public/img/nonprem.png" class="premlogoactive">
                  <p class="premelem">Auteur</p>
              </div>
            <input name="darknet_author" value="<%= darknet.author %>" class="inputtext" type="text" disabled>
            <% } %>

              
            <% if(settings.premium === "yes") { %>
              <div class="containlogo">
                <img src="../public/img/premium.png" class="premlogoactive">
                  <p class="premelem">Image de l'auteur (URL)</p>
              </div>
            <input name="darknet_author_url" maxlength="500" value="<%= darknet.author_url %>" class="inputtext" type="text">
            <% } else { %>
              <div class="containlogo">
                <img src="../public/img/nonprem.png" class="premlogoactive">
                  <p class="premelem">Image de l'auteur (URL)</p>
              </div>
            <input name="darknet_author_url" value="<%= darknet.author_url %>" class="inputtext" type="text" disabled>
            <% } %>

            <p>Footer</p>
            <input name="darknet_footer" id="counter-input-footer" maxlength="2048" value="<%= darknet.footer %>" class="inputtext" type="text">
            <div id="the-count">
              <span id="counter-display-footer">0</span>
              <span id="maximum">/ 2048</span>
            </div>

            <% if(settings.premium === "yes") { %>
              <div class="containlogo">
                <img src="../public/img/premium.png" class="premlogoactive">
                  <p class="premelem">Image du footer (URL)</p>
              </div>
            <input name="darknet_footer_url" maxlength="500" value="<%= darknet.footer_url%>" class="inputtext" type="text">
            <% } else { %>
              <div class="containlogo">
                <img src="../public/img/nonprem.png" class="premlogoactive">
                  <p class="premelem">Image du footer (URL)</p>
              </div>
            <input name="darknet_footer_url" value="<%= darknet.footer_url%>" class="inputtext" type="text" disabled>
            <% } %>

            <p>Temps</p>
            <section class="checksel">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </section>

            <!-- title -->
            <script>
              (() => {
                const counter = (() => {
                  const input = document.getElementById('counter-input-title'),
                    display = document.getElementById('counter-display-title'),
                    changeEvent = (evt) => display.innerHTML = evt.target.value.length,
                    getInput = () => input.value,
                    countEvent = () => input.addEventListener('keyup', changeEvent),
                    init = () => countEvent();
  
                  return {
                    init: init
                  }
  
                })();
  
                counter.init();
  
              })();
              </script>

            <!-- author -->
            <script>
              (() => {
                const counter = (() => {
                  const input = document.getElementById('counter-input-author'),
                    display = document.getElementById('counter-display-author'),
                    changeEvent = (evt) => display.innerHTML = evt.target.value.length,
                    getInput = () => input.value,
                    countEvent = () => input.addEventListener('keyup', changeEvent),
                    init = () => countEvent();
  
                  return {
                    init: init
                  }
  
                })();
  
                counter.init();
  
              })();
              </script>

            <!-- footer -->
            <script>
              (() => {
                const counter = (() => {
                  const input = document.getElementById('counter-input-footer'),
                    display = document.getElementById('counter-display-footer'),
                    changeEvent = (evt) => display.innerHTML = evt.target.value.length,
                    getInput = () => input.value,
                    countEvent = () => input.addEventListener('keyup', changeEvent),
                    init = () => countEvent();
  
                  return {
                    init: init
                  }
  
                })();
  
                counter.init();
  
              })();
              </script>
          </div>
      </div>
    </div>