
<section class="ligne3">
    <div class="container2">
      <h1 id="titrepanel">
        <span><i class="fas fa-money-bill"></i></span>
        <span class="premelem">ECONOMIE</span>
        </h1>
          <div class="quote-container">
          <a href="#" class="quote-button3">CONFIGURER</a>
          <div class="elements-panel3">
            <% if(settings.premium === "yes") { %>

            <p>Rôle de gestion (désactivé temporairement)</p>
            <select name="economy_role" class="selectsalon" disabled>
              <% if(economy.role) {
                if(economyrole) { %>
                <option value="<%= economy.role %>"><%= economy.name %></option>   
                <option value="0000">Aucun</option>   
                <% } else { %>
                  <option value="0000">Sélectionner un rôle</option>   
                  <% } %>
                  
                <% } else { %>
                <option value="0000">Sélectionner un rôle</option>   

                <% } %>
              <% rolesList.forEach(function(role) { %>
              <option value="<%= role.id %>"><%= role.name %></option>   
              <% }) %>
            </select>
            <p>Montant de départ</p>
            <input name="economy_amount_tart" class="inputtext" value="<%= economy.amount_start %>" type="text">
            <p>Symbole</p>
            <input name="economy_urrency" class="inputtext" value="<%= economy.currency %>" type="text">
          
            <% } else { %>
              <div class="containlogo">
                <img src="../public/img/nonprem.png" class="premlogoactive">
                  <p class="prem_only premelem">Premium exclusivement</p>
              </div>
              <p>Rôle de gestion</p>
              <select name="economy_role" class="selectsalon" disabled>
                <% if(economy.role) {
                  if(economyrole) { %>
                  <option value="<%= economy.role %>"><%= economyrole %></option>   
                  <option value="0000">Aucun</option>   
                  <% } else { %>
                    <option value="0000">Sélectionner un rôle</option>   
                    <% } %>
                    
                  <% } else { %>
                  <option value="0000">Sélectionner un rôle</option>   
  
                  <% } %>
                <% rolesList.forEach(function(role) {  %>
                <option value="<%= role.id %>"><%= role.name %></option>   
                <% }) %>
              </select>
              <p>Montant de départ</p>
              <input name="economy_mount" class="inputtext" value="<%= economy.amount_start %>" type="text" disabled>
              <p>Symbole</p>
              <input name="economy_currency" class="inputtext" value="<%= economy.currency %>" type="text" disabled>
            
              <% } %>
          
          </div>
      </div>
    </div>