<%- include("../partials/header", { bot, user, path, title: "Configuration - Economie" }) %>

<section id="settings-banner">
    <% if(guild[0].icon) { %>
        <p class="name-server-settings"><img class="icon-settings" src="<%= `https://cdn.discordapp.com/icons/${guild[0].id}/${guild[0].icon}.png?size=128` %>"><strong><%= guild[0].name %></strong></p>
    <% } else { %>
        <p class="name-server-settings"><img src="../public/img/lester0.1.png" class="guild-icon-settings"><strong><%= guild[0].name %></strong></p>
    <% } %>
</section>
<form method="POST">
<section class="menu-banner">
    <div class="columns">
        <div class="column is-2 menu">
          <ul class="menu-list has-text-centered">
              <li>
                <a href="/dashboard/<%= guild[0].id %>">Général</a>
              </li>
              <li>
                <a href="/dashboard/<%= guild[0].id %>/economie" class="is-active">Economie</a>
            </li>
            <li>
                <a href="/dashboard/<%= guild[0].id %>/embed">Embed</a>
            </li>
            <li>
              <a href="/dashboard/<%= guild[0].id %>/illegal">Illégal</a>
          </li>
          <li>
            <a href="/dashboard/<%= guild[0].id %>/services">Services</a>
        </li>
        <li>
          <a href="/dashboard/<%= guild[0].id %>/premium">Premium</a>
        </li>
          </ul>
        </div>
        <div class="column is-10 settings">
            <% if(alert) { %>
                <div class="alert-saving">      
                  <span class="fas fa-check-circle"></span>
                  <span class="msg">Changement effectué avec succès</span>
              </div>
              <% } %>
          <% if(settings.premium === "yes") { %>

            <div class="parameter">
                <label class="label title-parameter">
                  Montant de départ
                  <a href="/premium">
                    <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                    </a>                
                </label>
                <p class="description-parameter">Configuration du montant de départ distribué à l'arrivée de chaque membre sur le serveur</p>
                <input name="economy_amount" class="inputtext" value="<%= economy.amount_start %>" type="text" maxlength="30">
            </div>

            <div class="parameter">
                <label class="label title-parameter">
                 Symbole
                  <a href="/premium">
                    <span class="tag is-warning premium" target="blank">PREMIUM</span>
                    </a>                
                </label>
                <p class="description-parameter">Configuration du symbole de la monnaie</p>
                <input name="economy_currency" class="inputtext" value="<%= economy.currency %>" type="text" maxlength="10">
            </div>
           
          
            <% } else { %>
                <div class="parameter">
                    <label class="label title-parameter">
                      Montant de départ
                      <a href="/premium">
                        <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                        </a>
                    </label>
                    <p class="description-parameter">Configuration du montant de départ distribué à l'arrivée de chaque membre sur le serveur</p>
                    <input name="economy_amount" class="inputtext" value="<%= economy.amount_start %>" type="text" disabled>
                </div>
    
                <div class="parameter">
                    <label class="label title-parameter">
                     Symbole
                      <a href="/premium">
                      <span class="tag is-warning premium" target="blank">PREMIUM</span>
                      </a>
                    </label>
                    <p class="description-parameter">Configuration du symbole de la monnaie</p>
                    <input name="economy_currency" class="inputtext" value="<%= economy.currency %>" type="text" disabled>
                </div>
              <% } %>
              <input name="save" class="button" type="submit" value="Sauvegarder">
          </div>
         
        </div>
      </div>
</section>

<section class="welcome-banner">    
    <h1 class="info-title">Informations</h1>

    <div class="server-about">
        <i class="fas fa-users"></i> <strong>Membre(s) :</strong> <%= guild[0].memberCount %>
        <br>
        <%
        var myDate = new Date(guild[0].createdTimestamp);
        let dateCreate = myDate.getHours()+ ':'+('0' + (myDate.getMinutes())).slice(-2) + ' le ' + ('0' + myDate.getDate()).slice(-2) + '/' + ('0' + (myDate.getMonth()+1)).slice(-2)+ '/' + myDate.getFullYear()
        %>
        <i class="fas fa-clock"></i> <strong>Date de création :</strong> <%= dateCreate %> (Il y a <%= createdTimestamp %>)
        <br>
        <i class="fas fa-user-tag"></i> <strong>Rôle(s) :</strong> <%= guild[0].roles.length %>
        <br>
        <i class="fas fa-hashtag"></i> <strong>Salon(s) :</strong> <%= guild[0].channels.length %>

    </div>
</section>
</form>

<%- include("../partials/footer") %>

