<%- include("../partials/header", { bot, user, path, title: "Configuration - Embed" }) %>

<section id="settings-banner">
    <% if(guild[0].icon) { %>
        <p class="name-server-settings"><img class="icon-settings" src="<%= `https://cdn.discordapp.com/icons/${guild[0].id}/${guild[0].icon}.png?size=128` %>"><strong><%= guild[0].name %></strong></p>
    <% } else { %>
        <p class="name-server-settings"><img src="../public/img/lester0.1.png" class="guild-icon-settings"><strong><%= guild[0].name %></strong></p>
    <% } %>
</section>
<form method="POST">
<section class="menu-banner">
    <div class="columns">
        <div class="column is-2 menu">
          <ul class="menu-list has-text-centered">
              <li>
                <a href="/dashboard/<%= guild[0].id %>">Général</a>
              </li>
              <li>
                <a href="/dashboard/<%= guild[0].id %>/economie">Economie</a>
            </li>
            <li>
                <a class="is-active" href="/dashboard/<%= guild[0].id %>/embed">Embed</a>
            </li>
            <li>
              <a href="/dashboard/<%= guild[0].id %>/illegal">Illégal</a>
          </li>
          <li>
            <a href="/dashboard/<%= guild[0].id %>/services">Services</a>
        </li>
        <li>
          <a href="/dashboard/<%= guild[0].id %>/premium">Premium</a>
        </li>
          </ul>
        </div>
        
        <div class="column is-10 settings">

            <% if(alert) { %>
                <div class="alert-saving">      
                  <span class="fas fa-check-circle"></span>
                  <span class="msg">Changement effectué avec succès</span>
              </div>
              <% } %>
              <div class="tabs is-toggle">
                <ul>
                  <li class="is-active" id="darknet">
                    <a onclick="darknet()">
                      <span>Darknet</span>
                    </a>
                  </li>
                  <li id="twitter">
                    <a onclick="twitter()">
                      <span>Twitter</span>
                    </a>
                  </li>
                  <li id="tags-page">
                    <a onclick="tags()">
                      <span>Tags</span>
                    </a>
                  </li>
                </ul>
              </div>
        
                  <script>
                    function tags() {
                        $("#darknet").removeClass("is-active");
                        $("#twitter").removeClass("is-active");
                        $("#tags-page").addClass("is-active");

                        $("#save").addClass("hidden");
                        $("#twitter-parameter").addClass("hidden");
                        $("#darknet-parameter").addClass("hidden");
                        $("#tags-parameter").removeClass("hidden");
                }
                function twitter() {
                        $("#darknet").removeClass("is-active");
                        $("#twitter").addClass("is-active");
                        $("#tags-page").removeClass("is-active");

                        $("#save").removeClass("hidden");
                        $("#twitter-parameter").removeClass("hidden");
                        $("#darknet-parameter").addClass("hidden");
                        $("#tags-parameter").addClass("hidden");
                }
                function darknet() {
                        $("#twitter").removeClass("is-active");
                        $("#darknet").addClass("is-active");
                        $("#tags-page").removeClass("is-active");

                        $("#save").removeClass("hidden");
                        $("#darknet-parameter").removeClass("hidden");
                        $("#twitter-parameter").addClass("hidden");
                        $("#tags-parameter").addClass("hidden");
                }
                </script>

            <div id="darknet-parameter">
                <div class="parameter">
                    <label class="label title-parameter">
                    Salon
                    </label>
                    <p class="description-parameter">Configuration du salon "darknet"</p>
                    <select name="darknet_channel" class="selectsalon">
                        <% if(darknet.channel) {
                          if(darknetChannelStatut) { %>
                          <option value="<%= darknet.channel %>">#<%= darknetChannelStatut %></option>   
                          <option value="0000">Aucun</option>   
                          <% } else { %>
                            <option value="0000">Sélectionner un salon</option>   
                            <% } %>
                            
                          <% } else { %>
                          <option value="0000">Sélectionner un salon</option>   
          
                          <% } %>
          
                        <% 
                        channelsText.forEach(function(channel) {
                            if(channel.id === darknet.channel) return;
                           %>
                          <option value="<%= channel.id %>">#<%= channel.name %></option>   
                          <% 
                        }) %>            
                        </select>

                </div>

                <div class="parameter fields">
                    <% if(settings.premium === "yes") { %>
                    <label class="label title-parameter">
                      Titre
                      <a href="/premium">
                        <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                        </a>
                    </label>
                    <p class="description-parameter">Configuration du titre de l'embed</p>
                    <input name="darknet_title" id="counter-input-title" value="<%= darknet.title %>" class="inputtext" type="text" maxlength="256">
                    <% } else { %>
                        <label class="label title-parameter">
                            Titre
                         <a href="/premium">
                            <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                        </a>
                          </label>
                          <p class="description-parameter">Configuration du titre de l'embed</p>
                          <input name="darknet_title" id="counter-input-title" value="<%= darknet.title %>" class="inputtext" type="text" maxlength="256" disabled>
      
                    <% } %>

                    <% if(settings.premium === "yes") { %>
                    <label class="label title-parameter">
                        Auteur
                        <a href="/premium">
                            <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                            </a>
                      </label>
                      <p class="description-parameter">Configuration de la partie "Auteur" de l'embed</p>
                      <input name="darknet_author" maxlength="256" id="counter-input-author" value="<%= darknet.author %>" class="inputtext" type="text">
                      <% } else { %>
                        <label class="label title-parameter">
                            Auteur
                            <a href="/premium">
                                <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                                </a>
                            <a href="/premium">
                                <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                                </a>
                          </label>
                          <p class="description-parameter">Configuration de la partie "Auteur" de l'embed</p>
                          <input name="darknet_author" maxlength="256" id="counter-input-author" value="<%= darknet.author %>" class="inputtext" type="text" disabled>    
                        <% } %>
                                  
                      <label class="label title-parameter">
                        Image de l'auteur (URL)
                        <span class="tag is-danger">Désactivé temporairement</span>
                      </label>
                      <p class="description-parameter">Configuration du footer de l'embed</p>
                      <input name="darknet_author_url" id="counter-input-footer" maxlength="2048" class="inputtext" type="text" disabled>
           
           
                      <label class="label title-parameter">
                        Footer
                      </label>
                      <p class="description-parameter">Configuration du footer de l'embed</p>
                      <input name="darknet_footer" id="counter-input-footer" maxlength="2048" value="<%= darknet.footer %>" class="inputtext" type="text">
           
                                
                      <label class="label title-parameter">
                        Image du footer (URL)
                        <span class="tag is-danger">Désactivé temporairement</span>
                      </label>
                      <p class="description-parameter">Configuration du footer de l'embed</p>
                      <input name="darknet_footer_url" id="counter-input-footer" maxlength="2048" class="inputtext" type="text" disabled>
           
                
                </div>
            </div>
 
            <div id="twitter-parameter" class="hidden">
                <div class="parameter">
                    <label class="label title-parameter">
                        Salon
                        </label>
                        <p class="description-parameter">Configuration du salon</p>
                        <select name="twitter_channel" class="selectsalon">
                            <% if(twitter.channel) {
                              if(twitterChannelStatut) { %>
                              <option value="<%= twitter.channel %>">#<%= twitterChannelStatut %></option>   
                              <option value="0000">Aucun</option>   
                              <% } else { %>
                                <option value="0000">Sélectionner un salon</option>   
                                <% } %>
                                
                              <% } else { %>
                              <option value="0000">Sélectionner un salon</option>   
              
                              <% } %>
              
                            <% 
                            channelsText.forEach(function(channel) {
                                if(channel.id === twitter.channel) return;
                               %>
                              <option value="<%= channel.id %>">#<%= channel.name %></option>   
                              <% 
                            }) %>            
                            </select>        
                    </div>


                    
                <div class="parameter fields">
                    <% if(settings.premium === "yes") { %>
                    <label class="label title-parameter">
                      Titre
                      <a href="/premium">
                        <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                        </a>
                    </label>
                    <p class="description-parameter">Configuration du titre de l'embed</p>
                    <input name="twitter_title" id="counter-input-title" value="<%= twitter.title %>" class="inputtext" type="text" maxlength="256">
                    <% } else { %>
                        <label class="label title-parameter">
                            Titre
                         <a href="/premium">
                            <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                        </a>
                          </label>
                          <p class="description-parameter">Configuration du titre de l'embed</p>
                          <input name="twitter_title" id="counter-input-title" value="<%= twitter.title %>" class="inputtext" type="text" maxlength="256" disabled>
      
                    <% } %>

                    <% if(settings.premium === "yes") { %>
                    <label class="label title-parameter">
                        Auteur
                        <a href="/premium">
                            <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                            </a>
                      </label>
                      <p class="description-parameter">Configuration de la partie "Auteur" de l'embed</p>
                      <input name="twitter_author" maxlength="256" id="counter-input-author" value="<%= twitter.author %>" class="inputtext" type="text">
                      <% } else { %>
                        <label class="label title-parameter">
                            Auteur
                            <a href="/premium">
                                <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                                </a>
                            <a href="/premium">
                                <span class="tag is-warning premium" target="_blank">PREMIUM</span>
                                </a>
                          </label>
                          <p class="description-parameter">Configuration de la partie "Auteur" de l'embed</p>
                          <input name="twitter_author" maxlength="256" id="counter-input-author" value="<%= twitter.author %>" class="inputtext" type="text" disabled>    
                        <% } %>
                                  
                      <label class="label title-parameter">
                        Image de l'auteur (URL)
                        <span class="tag is-danger">Désactivé temporairement</span>
                      </label>
                      <p class="description-parameter">Configuration du footer de l'embed</p>
                      <input name="twitter_author_url" id="counter-input-footer" maxlength="2048" class="inputtext" type="text" disabled>
           
           
                      <label class="label title-parameter">
                        Footer
                      </label>
                      <p class="description-parameter">Configuration du footer de l'embed</p>
                      <input name="twitter_footer" id="counter-input-footer" maxlength="2048" value="<%= twitter.footer %>" class="inputtext" type="text">
           
                                
                      <label class="label title-parameter">
                        Image du footer (URL)
                        <span class="tag is-danger">Désactivé temporairement</span>
                      </label>
                      <p class="description-parameter">Configuration du footer de l'embed</p>
                      <input name="twitter_footer_url" id="counter-input-footer" maxlength="2048" class="inputtext" type="text" disabled>
           
                
                </div>
            </div>


            <div id="tags-parameter" class="hidden">
                <div class="parameter">
                    <label class="label title-parameter">
                        Liste des tags
                    </label>
                    <p>Les tags sont utilisables dans chacune des modifications textuels. Pour les utiliser, entrez simplement entre <strong>{}</strong> l'un des tags ci dessous.</p>
                    <br>
                    <p><code>{user_id}</code> - Renvoie l'ID (identifiant) de l'utilisateur. (304327970460270592)</p> 
                    <p><code>{user_mention}</code> - Renvoie la mention de l'utilisateur. (@Lester#0001)</p>
                    <p><code>{user_username}</code> - Renvoie le pseudo + le tag de l'utilisateur. (Lester#0001)</p>
                    <p><code>{user_tag}</code> - Renvoie le tag de l'utilisateur. (#0001)</p>
                </div>
            </div>


          <input id="save" name="save" class="button" type="submit" value="Sauvegarder">
        </div>
      </div>
</section>

<section class="welcome-banner">    
    <h1 class="info-title">Informations</h1>

    <div class="server-about">
        <i class="fas fa-users"></i> <strong>Membre(s) :</strong> <%= guild[0].memberCount %>
        <br>
        <%
        var myDate = new Date(guild[0].createdTimestamp);
        let dateCreate = myDate.getHours()+ ':'+('0' + (myDate.getMinutes())).slice(-2) + ' le ' + ('0' + myDate.getDate()).slice(-2) + '/' + ('0' + (myDate.getMonth()+1)).slice(-2)+ '/' + myDate.getFullYear()
        %>
        <i class="fas fa-clock"></i> <strong>Date de création :</strong> <%= dateCreate %> (Il y a <%= createdTimestamp %>)
        <br>
        <i class="fas fa-user-tag"></i> <strong>Rôle(s) :</strong> <%= guild[0].roles.length %>
        <br>
        <i class="fas fa-hashtag"></i> <strong>Salon(s) :</strong> <%= guild[0].channels.length %>

    </div>
</section>
</form>



<%- include("../partials/footer") %>

