<%- include("../partials/header", { bot, user, path, title: "Configuration - Illégal" }) %>

<section id="settings-banner">
    <% if(guild[0].icon) { %>
        <p class="name-server-settings"><img class="icon-settings" src="<%= `https://cdn.discordapp.com/icons/${guild[0].id}/${guild[0].icon}.png?size=128` %>"><strong><%= guild[0].name %></strong></p>
    <% } else { %>
        <p class="name-server-settings"><img src="../public/img/lester0.1.png" class="guild-icon-settings"><strong><%= guild[0].name %></strong></p>
    <% } %>
</section>
<form method="POST">
<section class="menu-banner">
    <div class="columns">
        <div class="column is-2 menu">
          <ul class="menu-list has-text-centered">
              <li>
                <a href="/dashboard/<%= guild[0].id %>">Général</a>
              </li>
              <li>
                <a href="/dashboard/<%= guild[0].id %>/economie">Economie</a>
            </li>
            <li>
                <a href="/dashboard/<%= guild[0].id %>/embed">Embed</a>
            </li>
            <li>
                <a class="is-active" href="/dashboard/<%= guild[0].id %>/illegal">Illégal</a>
            </li>
            <li>
                <a href="/dashboard/<%= guild[0].id %>/services">Services</a>
            </li>
            <li>
                <a href="/dashboard/<%= guild[0].id %>/premium">Premium</a>
              </li>
          </ul>
        </div>
        
        <div class="column is-10 settings">

            <% if(alert) { %>
                <div class="alert-saving">      
                  <span class="fas fa-check-circle"></span>
                  <span class="msg">Changement effectué avec succès</span>
              </div>
              <% } %>


              <div class="parameter fields">
                <label class="label title-parameter">
                    Braquage de banque
                </label>
                <strong>Temps</strong>
                <p class="description-parameter">Modifie le temps du braquage de banque.</p>
                <input name="bank_time" id="counter-input" value="<%= robConfig.bank_time %>" type="text" placeholder="Temps" class="inputpre" maxlength="3">
               
        <% if(settings.premium === "yes") { %>
            <label class="label">
                <strong>Montant</strong>
                <span class="tag is-warning premium" target="_blank">PREMIUM</span>

              </label>
              <p class="description-parameter">Modifie le montant total gagné à la fin du braquage de banque.</p>
            <input name="bank_amount" id="counter-input" value="<%= robConfig.bank_amount %>" type="text" placeholder="Montant" class="inputpre" maxlength="10">
            
            <% } else { %>
                <label class="label">
                    <strong>Montant</strong>
                    <span class="tag is-warning premium" target="_blank">PREMIUM</span>

                </label>
                <p class="description-parameter">Modifie le montant total gagné à la fin du braquage de banque.</p>

                <input name="bank_amount" id="counter-input" value="<%= robConfig.bank_amount %>" type="text" placeholder="Montant" class="inputpre" maxlength="10" disabled>
                
            <% } %>

            </div>

            
            <div class="parameter fields">
                <label class="label title-parameter">
                    Braquage de supérette
                </label>
                <strong>Temps</strong>
                <p class="description-parameter">Modifie le temps du braquage de supérette.</p>
                <input name="superette_time" id="counter-input" value="<%= robConfig.superette_time %>" type="text" placeholder="Temps" class="inputpre" maxlength="3">
               
        <% if(settings.premium === "yes") { %>
            <label class="label">
                <strong>Montant</strong>
                <span class="tag is-warning premium" target="_blank">PREMIUM</span>

              </label>
              <p class="description-parameter">Modifie le montant total gagné à la fin du braquage de supérette.</p>
            <input name="superette_amount" id="counter-input" value="<%= robConfig.superette_amount %>" type="text" placeholder="Montant" class="inputpre" maxlength="10">
            
            <% } else { %>
                <label class="label">
                    <strong>Montant</strong>
                    <span class="tag is-warning premium" target="_blank">PREMIUM</span>

                </label>
                <p class="description-parameter">Modifie le montant total gagné à la fin du braquage de supérette.</p>

                <input name="superette_amount" id="counter-input" value="<%= robConfig.superette_amount %>" type="text" placeholder="Montant" class="inputpre" maxlength="10" disabled>
                
            <% } %>

            </div>



            
            <div class="parameter fields">
                <label class="label title-parameter">
                    Blanchissement
                </label>

            <% if(settings.premium === "yes") { %>
                <label class="label">
                    <strong>Temps</strong>
                    <span class="tag is-warning premium" target="_blank">PREMIUM</span>
    
                </label>
                <p class="description-parameter">Modifie le temps pour blanchir.</p>
    
                <input name="withening_time" id="counter-input" value="<%= withening.time %>" type="text" class="inputpre">
                
                <% } else { %>
                    <label class="label">
                        <strong>Temps</strong>
                        <span class="tag is-warning premium" target="_blank">PREMIUM</span>
    
                    </label>
                    <p class="description-parameter">Modifie le temps pour blanchir.</p>
    
                    <input name="withening_time" id="counter-input" value="<%= withening.time %>" type="text" class="inputpre" disabled>
                    
                <% } %>


        <% if(settings.premium === "yes") { %>
            <label class="label">
                <strong>Montant maximum</strong>
                <span class="tag is-warning premium" target="_blank">PREMIUM</span>

            </label>
            <p class="description-parameter">Modifie le montant maximum d'argent sale que l'utilisateur peut blanchir.</p>

            <input name="withening_amount" id="counter-input" value="<%= withening.amount %>" type="text" placeholder="Montant gagné à la fin du blanchissement" class="inputpre">
            
            <% } else { %>
                <label class="label">
                    <strong>Montant maximum</strong>
                    <span class="tag is-warning premium" target="_blank">PREMIUM</span>

                </label>
                <p class="description-parameter">Modifie le montant maximum d'argent sale que l'utilisateur peut blanchir.</p>

                <input name="withening_amount" id="counter-input" value="<%= withening.amount %>" type="text" placeholder="Montant gagné à la fin du blanchissement" class="inputpre" disabled>
                
            <% } %>

            </div>

          <input id="save" name="save" class="button" type="submit" value="Sauvegarder">
        </div>
      </div>
</section>

<section class="welcome-banner">    
    <h1 class="info-title">Informations</h1>

    <div class="server-about">
        <i class="fas fa-users"></i> <strong>Membre(s) :</strong> <%= guild[0].memberCount %>
        <br>
        <%
        var myDate = new Date(guild[0].createdTimestamp);
        let dateCreate = myDate.getHours()+ ':'+('0' + (myDate.getMinutes())).slice(-2) + ' le ' + ('0' + myDate.getDate()).slice(-2) + '/' + ('0' + (myDate.getMonth()+1)).slice(-2)+ '/' + myDate.getFullYear()
        %>
        <i class="fas fa-clock"></i> <strong>Date de création :</strong> <%= dateCreate %> (Il y a <%= createdTimestamp %>)
        <br>
        <i class="fas fa-user-tag"></i> <strong>Rôle(s) :</strong> <%= guild[0].roles.length %>
        <br>
        <i class="fas fa-hashtag"></i> <strong>Salon(s) :</strong> <%= guild[0].channels.length %>

    </div>
</section>
</form>



<%- include("../partials/footer") %>

