<%- include("../partials/header", { bot, user, path, staff, admin, support, billing, title: "Panel Staff - Utilisateur" }) %>
<% if (alert) { %>
    <div class="alert-error">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
        <%= alert %>
      </div>
<% } %>

<form method="POST">

<div class="line1-panel-staff">
    <input name="userSearch" class="input-server" type="text" placeholder="Saisissez l'ID d'un utilisateur">
    <button type="submit" class="confirm-server">Entrer</button>
</div>
</form>

<% if(userFinding) { %>
    <div class="card-userFinding has-text-centered">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= userFinding.id %>/<%= userFinding.avatar %>.png">
        <div><p class="pseudo-staff"><%= userFinding.username %></p><p class="tag-staff">#<%= userFinding.discriminator %></p></div>
        <% if(userFinding.bot) { %>
        <div class="p-server-panelstaff"><strong class="color-grey">Bot :</strong> Oui</div>
        <% } else { %>
        <div class="p-server-panelstaff"><strong class="color-grey">Bot :</strong> Non</div>
        <% } %>
        <div class="p-server-panelstaff"><strong class="color-grey">ID :</strong> <%= userFinding.id %></div>

    </div>
<% } %>


<%- include("../partials/footer") %>