<%- include("partials/header", { bot, user, path, title: "Mes serveurs" }) %>
<section class="antifooter">
  <div class="invisible2"></div>

<div class="card-server-support">
  <div class="invisible4"></div>

  <img class="guild-iconserverlist img-thumbnail" src="https://cdn.discordapp.com/icons/570192130601910272/76eb10c01064d625bbda1d0ebf7b607f.webp?size=128" alt="">
  <p class="guildNameDash has-text-centered has-text-white">
    Lester | Support
  </p>
  <a class="button is-info has-text-centered" href="https://discord.gg/ME3y3Bx">Rejoindre</a>
</div>

<div class="server-list">
  <%
  if(guildList.length >= 1) {
   guildList.forEach(function(guild) {  
  %>
  <div class="card-server">
  <% if (guild.icon) { %>
    <img class="guild-iconserverlist img-thumbnail" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>" alt="">
    <% } else { %>
      <img src="../public/img/lester0.1.png" class="guild-iconserverlist img-thumbnail" alt="">

      <% } %>
  
  <h1 class="guildNameDash has-text-white">
    <%= guild.name %>
  </h1>

  <a href="/dashboard/<%= guild.id %>"><button class="button-server-list">Accéder au serveur</button></a>
   
  
  </div>
    %>
   <% });
 } else { %>
  <p class="has-text-centered">Aucun de vos serveurs ne possèdent Lester.</p>
  <% } %>
</div>



<%- include("partials/footer") %>
</section>