<%- include("partials/header", { bot, user, path, title: "Classements" }) %>
<div id="leaderBoard">
<TABLE id="lb">
<CAPTION class="title-lb"><strong class="strong-title-lb">Classement Utilisateur</strong></CAPTION>

<THEAD>
    

<TR class="userBoard color3lb decoration">
    <TD>
        Position
    </TD>

    <TD>
        Utilisateur
    </TD>
    <TD>
        Liquide
    </TD>
    <TD>
        Banque
    </TD>
    <TD>
        Sale
    </TD>
    <TD>
        Total
    </TD>
</TR>
</THEAD>
<TBODY>
<% let count = 0

function n(x) {
    var parts = x.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
}

leaderboard.forEach(function(user) {
++count
if(count % 2 === 0) { %>
   


<div class="userBoard color2lb decoration">
    <div class="inline">
        <code class="tag-count"><%= count %></code>
    </div>

    <div class="inline">
        <%= user.name %> <a class="tag-color">#<%= user.tag %></a>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.liquide) %></code>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.banque) %></code>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.sale) %></code>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.total) %></code>
    </div>
</div>

<% } else { %>
 
<div class="userBoard color1lb decoration">
    <div class="inline">
        <code class="tag-count"><%= count %></code>
    </div>

    <div class="inline">
        <%= user.name %> <a class="tag-color">#<%= user.tag %></a>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.liquide) %></code>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.banque) %></code>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.sale) %></code>
    </div>
    <div class="inline">
        <code class="code-lb"><%= n(user.total) %></code>
    </div>
</div>
<% }
}) %>
</TBODY>
</TABLE>
</div>


<div id="leaderBoard">
    <TABLE id="lb">
    <CAPTION class="title-lb"><strong class="strong-title-lb">Classement Compte</strong></CAPTION>
    
    <THEAD>
        
    
    <TR class="userBoard color3lb decoration">
        <TD>
            Position
        </TD>
    
        <TD>
            Nom
        </TD>
        <TD>
            Propriétaire
        </TD>
        <TD>
            Fonds
        </TD>
    </TR>
    </THEAD>
    <TBODY>
    <% let newcount = 0
    
    function n(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }
    
    lb_account.forEach(function(account) {
    ++newcount
    if(newcount % 2 === 0) { %>
       
    
    
    <TR class="userBoard color2lb decoration">
        <TD>
            <code class="tag-count"><%= newcount %></code>
        </TD>
    
        <TD>
            <%= account.name %>
        </TD>
        <TD>
            <%= account.ownerName %> <a class="tag-color">#<%= account.ownerTag %></a>
        </TD>
        <TD>
            <code class="code-lb"><%= n(account.banque) %></code>
        </TD>
    </TR>
    
    <% } else { %>
    
        <TR class="userBoard color1lb decoration">
            <TD>
                <code class="tag-count"><%= newcount %></code>
            </TD>
        
            <TD>
                <%= account.name %>
            </TD>
            <TD>
                <%= account.ownerName %> <a class="tag-color">#<%= account.ownerTag %></a>
            </TD>
            <TD>
                <code class="code-lb"><%= n(account.banque) %></code>
            </TD>
        </TR>
    <% }
    }) %>
    </TBODY>
    </TABLE>
    </div>
<div class="invisible2"></div>







<%- include("partials/footer") %>