<%- include("partials/header", { bot, user, path, title: "Configuration" }) %>

<form method="POST">

<section class="cartes">
<div class="carte">
<div class="containlogo">
    <% if(settings.premium === "yes") { %>
        <div class="premlogoactive3" data-tooltip="Réservé aux membres premium"></div>
      <% } else { %>
        <div class="premlogoactive4" data-tooltip="Réservé aux membres premium"></div>
      <% } %>
  <p class="guildname"><strong>Premium</strong></p>
</div>
  <p class="pre-on">Statut :</p>
  <% if(settings.premium === "yes") { %>
  <p class="on">Activé</p>
  <% } else { %>
    <p class="off">Désactivé</p>
  <p>Tu as une clé Premium?</p>
  <% } %>

  <% if(settings.premium === "yes") { %>
    <input name="prems" class="inputcle" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" disabled>
    <button type="submit" class="confirmcle" disabled>Entrer</button>
    <% } else { %>
  <input name="prems" class="inputcle" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" maxlength="19">
  <button type="submit" class="confirmcle">Entrer</button>
  <% } %>
</div>

  <div class="carte" id="infos">
    <p class="guildname2"><strong><%= guild[0].name %></strong></p>
    <% if(guild[0].icon) { %>
    <img class="guild-icon-settings" src="<%= `https://cdn.discordapp.com/icons/${guild[0].id}/${guild[0].icon}.png?size=128` %>">
    <% } else { %>
      <img src="../public/img/lester0.1.png" class="guild-icon-settings">

    <% } %>
    <ul>
      <li class="list-group-item" ><strong>Propriétaire</strong> : <%= owner.username %>#<%= owner.discriminator %></li>
      <li class="list-group-item"><strong>Membres</strong> : <i class="fa fa-fw fa-users" aria-hidden="true"></i> <%= `${guild[0].memberCount}` %></li>
      <li class="list-group-item"><strong>Rôles</strong> : <%= `${guild[0].roles.length}`%></li>
      <li class="list-group-item"><strong>Instance</strong> : <%= `${guild[0].shardID}`%></li>
    </ul>
  </div>

</section>

<div class="inlineButtons">
    <a class="align1 button is-success" id="select1">Classement</a>
    <a class="align2 button is-success" id="select2">Statistiques</a>
    <a class="align3 button is-success" id="select3">Membres</a>
</div>



<%- include("settings/config") %>
<%- include("settings/logs") %>
<%- include("settings/darknet") %>
<%- include("settings/twitter") %>
<%- include("settings/economy") %>
<%- include("settings/blacklist") %>
<%- include("settings/config-illegal") %>
<%- include("settings/channels") %>




<section class="ligne4">
  <div class="container2">
    <h1 id="titrepanel">METIERS</h1>
    <div class="quote-container">
        <a href="#" class="quote-button4">CONFIGURER</a>
        <div class="elements-panel4">
          <img src="../public/img/arrive_bientot.png" class="coming">
        </div>
    </div>
</section>

<!--BOUTON SAVE-->
<div class="savecontainer">
  <button class="buttonsave"><p class="savetext">SAUVEGARDER</p><i class="fas fa-check"></i></button>
  </div>
  <div class="invisible"></div>

  <%- include("settings/script") %>

</form>

<div class="bg-modal">
  <div class="modal-content">
    <div class="close-modal">+</div>
    <img src="../../public/img/paint.svg" class="coming-soon-img img-modal">
    <div class="content-modal-p">Cette page est encore en développement, revenez plus tard !</div>
  </div>
</div>
<% if (alert) { %>
<div class="alertS hide">
  <span class="fas fa-check-circle"></span>
  <span class="msg">Changement effectué avec succès !</span>
  <div class="close-btn2">
    <span class="fas fa-times"></span>
  </div>
</div>
<script>
    $('.alertS').addClass("show");
    $('.alertS').removeClass("hide");
    $('.alertS').addClass("showAlert");
    setTimeout(function(){
      $('.alertS').removeClass("show");
      $('.alertS').addClass("hide");
      setTimeout(function(){
      $('.alertS').addClass("hide2");
    },1000);
    },5000);
  
  $('.close-btn2').click(function(){
    $('.alertS').removeClass("show");
    $('.alertS').addClass("hide");
    setTimeout(function(){
      $('.alertS').addClass("hide2");
    },1000);
  });
</script>
<% } %>
<script>

  document.getElementById('select1').addEventListener('click',
  function() {
    document.querySelector('.bg-modal').style.display = 'flex';
  });

  document.getElementById('select2').addEventListener('click',
  function() {
    document.querySelector('.bg-modal').style.display = 'flex';
  });

  document.getElementById('select3').addEventListener('click',
  function() {
    document.querySelector('.bg-modal').style.display = 'flex';
  });

  document.querySelector('.close-modal').addEventListener('click', 
  function() {
    document.querySelector('.bg-modal').style.display = 'none';
  });
</script>

<%- include("partials/footer") %>

