<%- include("partials/header", { bot, user, path, title: "Notre équipe" }) %>
<div class="position">

    <!-- Tseacen -->
    <h1 class="title-staff">DEVELOPPEMENT</h1>
    <div class="hr-bar"></div>
    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= tseacen.id %>/<%= tseacen.avatar %>.png">
        <div><p class="pseudo-staff"><%= tseacen.username %></p><p class="tag-staff">#<%= tseacen.discriminator %></p></div>
        <p><i class="fas fa-code"></i> <i class="fas fa-user-shield"></i></p>
        <p class="role-staff flex">Développeur & Administrateur</p>
    </div>

    <!-- Ander -->
    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= ander.id %>/<%= ander.avatar %>.png">
        <div><p class="pseudo-staff"><%= ander.username %></p><p class="tag-staff">#<%= ander.discriminator %></p></div>
        <p><i class="fas fa-code"></i> <i class="fas fa-pencil-alt"></i></>
        <p class="role-staff">Développeur & Graphiste</p>
    </div>

    <hr>
    <h1 class="title-staff">ADMINISTRATION</h1>
    <div class="hr-bar"></div>
    <!-- Vans -->
    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= fawkes.id %>/<%= fawkes.avatar %>.png">
        <div><p class="pseudo-staff"><%= fawkes.username %></p><p class="tag-staff">#<%= fawkes.discriminator %></p></div>
        <p><i class="fas fa-user-shield"></i></p>
        <p class="role-staff">Administrateur</p>
    </div>

    <hr>
    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= oblion.id %>/<%= oblion.avatar %>.png">
        <div><p class="pseudo-staff"><%= oblion.username %></p><p class="tag-staff">#<%= oblion.discriminator %></p></div>
        <p><i class="fas fa-user-cog"></i></p>
        <p class="role-staff">Responsable Support</p>
    </div>

    <h1 class="title-staff">GESTION</h1>
    <div class="hr-bar"></div>
    <!-- Oblion -->
    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= mikzii.id %>/<%= mikzii.avatar %>.png">
        <div><p class="pseudo-staff"><%= mikzii.username %></p><p class="tag-staff">#<%= mikzii.discriminator %></p></div>
        <p><i class="fas fa-user-cog"></i> <i class="fas fa-headset"></i></p>
        <p class="role-staff flex">Responsable Animation & Support</p>
    </div>

    <hr>
    <h1 class="title-staff">SUPPORT & AUTRES</h1>
    <div class="hr-bar"></div>
    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= skyder.id %>/<%= skyder.avatar %>.png">
        <div><p class="pseudo-staff"><%= skyder.username %></p><p class="tag-staff">#<%= skyder.discriminator %></p></div>
        <p><i class="fas fa-headset"></i></p>
        <p class="role-staff">Support</p>
    </div>

    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= athe.id %>/<%= athe.avatar %>.png">
        <div><p class="pseudo-staff"><%= athe.username %></p><p class="tag-staff">#<%= athe.discriminator %></p></div>
        <p><i class="fas fa-headset"></i></p>
        <p class="role-staff">Support</p>
    </div>

        <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= dark.id %>/<%= dark.avatar %>.png">
        <div><p class="pseudo-staff"><%= dark.username %></p><p class="tag-staff">#<%= dark.discriminator %></p></div>
        <p><i class="fas fa-headset"></i></p>
        <p class="role-staff">Support</p>
    </div>

    <div class="card-staff">
        <img class="icon-staff" src="https://cdn.discordapp.com/avatars/<%= victoria.id %>/<%= victoria.avatar %>.png">
        <div><p class="pseudo-staff"><%= victoria.username %></p><p class="tag-staff">#<%= victoria.discriminator %></p></div>
        <p><i class="fas fa-headset"></i></p>
        <p class="role-staff">Support</p>
    </div>
    


<div class="invisible3"></div>



<%- include("partials/footer") %>