<%- include("partials/header", { bot, user, path, title: "Statut du bot" }) %>
<div class="invisible2"></div>
<div class="notification colorNot">
    <div class="statusTitle">Statut</div>
    <div class="statusTextPos"><strong>Instances total :</strong> <%= bot.shard.count %></div>
    <div><strong>Pannes :</strong> <%= shardUnavailable %> / <%= bot.shard.count %> instances sont en pannes.</div>
  </div>
  <hr>
  <div class="has-text-centered">
    
<%
 shardList.forEach(function(shard) {  
%>
<div class="inline">

    <% if(shard.status <= 1) { %>
      <div class="box-status-online">
        <div class="box-status-id"><%= shard.id %></div>
        <span class="tooltiptext">
          <strong>Instance #<%= shard.id %></strong>
          <hr class="status-hr">
          <strong>Statut:</strong> En ligne
          <br>
          <strong>Ping:</strong> <%= shard.ping %>
        </span>
      </div>
        <% } else { %>
          <div class="box-status-offline">
            <div class="box-status-id"><%= shard.id %></div>
            <span class="tooltiptext">
              <strong>Instance #<%= shard.id %></strong>
              <hr class="status-hr">
              <strong>Statut:</strong> En panne
              <br>
              <strong>Ping:</strong> Aucun
            </span>
          </div>
        <% } %>
        <hr class="hrColorStatus">

          </div>
 <% }); %>
  </div>

  <div class="popup-status">
    Un problème ? Une panne a déclarer ? Rejoignez notre support Discord <a href="https://discord.com/invite/ME3y3Bx">en cliquant ici</a>.
  </div>
<%- include("partials/footer") %>